{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}
    <h2>Zarejestruj się, aby móc wyświetlić posty!</h2>

    {% for flashError in app.session.flashbag.get('danger') %}
        <div class="alert alert-danger">{{ flashError }}</div>
    {% endfor %}

    <form method="post" action="{{ path('app_create') }}">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Zarejestruj się!</button>
    </form>
    Masz już konto? <a href="{{ path('app_login') }}">Zaloguj się</a>
{% endblock %}
