{# templates/list/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
    <h1>Lista</h1>

    <table>
        <thead>
            <tr>
                <th>Tytuł</th>
                <th>Treść</th>
                <th>Autor</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.body }}</td>
                    <td>{{ post.autor }}</td>
                    <td>
                        <form action="/api/posts/{{ post.id }}" method="post" onsubmit="event.preventDefault(); if(confirm('Czy jesteś pewien że chcesz usunąć ten post?')) { fetch(this.action, {method: 'DELETE'}).then(response => window.location.reload()); }">
                            <button type="submit">Usuń</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}